body {
	font: 14px "Avantgarde", "sans-serif";
	color: #000000;
	background-color: #556b2f;
}

h1,h2 {
	font-family: Avantgarde;
}

h1 {
	border-bottom: 3px solid #aaa;
	background-color: #084808;
	color: #ddd;
	padding: 5px;	
	text-align: center;
}

h2 {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #084808;
	color: #ffffff;
	padding-left: 5px;
	margin: 0 0 0 -15px;
	font-weight: normal;
}

.secao {
	background-color: #fff;

	padding-left: 15px;
	
	border: #ccc 1px dotted;
	
	margin-top: 1em;
}

a {
	text-decoration:none;
	color: #f33;
}

a:visited {
	text-decoration:none;
	color: #700;
}

a:hover {
	text-decoration:none;
	color: #fa0;
}

#menu {
	margin: 0;
	text-align: center;
}

#menu ul, #menu li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu .ativo {
	background-color: #b6ffb5;
}

.url, .email {
	display: block;
}

.email:after {
	content: url('img/mail.png');
	margin-left:0.3em;
}

.url:after {
	content: url('img/url.png');
	margin-left:0.3em;
}

th {width: 20em; text-align:center}

td {width: 20em; text-align:center}

tr.par {
	background-color: #a7ff8c;
	height: 2em;
}

tr.impar {
	background-color: #98fb98;
	height: 2em;
}

.foto {
	float: right;
	margin-right: 5em;
	border: #fff 1em solid;
	
	-webkit-box-shadow: 0px 0px 5px 5px #191b30;
	-moz-box-shadow: 0px 0px 5px 5px #191b30;
	box-shadow: 0px 0px 5px 5px #191b30;
}

#footnote {
	border-top: 3px solid #aaa;
	padding: 5px;
	color: #ddd;
	background-color: #084808;
	font: 100% "Avantgarde", sans-serif;
	text-align:center
}

#footnote li {
	list-style-type: none;
	margin-top: 3px;
}

fieldset {
	border: #ccc 1px dotted;
	margin-top: 1em;
}

legend.alinhamento {
	text-align: center;
	font-weight: bold;
}


label {
	font-weight: bold;
	margin-right: 10px;
	width: 15em;
}

label:after {
	content: ":";
}

form label {
	display: block;
}

input, textarea {
	border: #669 2px solid;
	display: block;
	width: 90em;
}

input[type=submit] {
	border: #bbb 1px solid;
	margin-top: 0.5em;
}
